.c-DashMonitor {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: -5px;
  left: 5px;
  right: 5px;
  min-height: 15px;
  display: block;
  opacity: 0;
}

.c-DashMonitor.hasData.isVisible {
  transition: opacity .2s linear, top .2s linear;
  top: 5px;
  opacity: 1;
}

.c-DashMonitor .streamMetrics {
  list-style-type: none;
  display: block;
  padding: 5px 5px 0 5px;
  margin: 0;
  min-height: 21px;
}

.c-DashMonitor .streamMetrics li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,.1);
  vertical-align: top;
}
.c-DashMonitor .streamTitle {
  font-size: 15px;
  display: inline-block;
  width: 80px;
  text-align: right;
  float: left;
  margin-right: 5px;
  line-height: 30px;
}

.c-DashMonitor .metricTitle {

  padding: 3px 5px;
  display: inline-block;
  background: #CCC;
  font-weight: bold;
  font-size: 11px;
}

.c-DashMonitor .metricValue {
  display: inline-block;
  padding: 2px 5px;
  background: white;
  white-space: nowrap;
}


.c-DashMonitor .row {
  line-height: 15px;
  height: 15px;
  padding-bttom: 1px;
  position: relative;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  margin-top: -1px;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 11px;
}

.c-DashMonitor .traffic {
  position: relative;
}

.c-DashMonitor .seekContainer {
  margin-left: 3px;
}
.c-DashMonitor .seekBar {
  position: absolute;
  top: 0;
  left: 0%;
  width: 2px;
  margin-left: -2px;
  background: rgba(0,0,0,.5);
  height: 100%;
}

.c-DashMonitor .rowHeader {
  position: absolute;
  width: 80px;
  text-align: right;
}

.c-DashMonitor .rowFragments,
.c-DashMonitor .seekContainer {
  position: absolute;
  top: 0;
  left: 85px;
  right: 0;
  bottom: 0;
}

.c-DashMonitor .rowRequest {
  position: absolute;
  top: 2px;
  bottom: 2px;
  border-radius: 4px;
}

.c-DashMonitor .key {
  box-shadow: inset 0 8px 15px -10px rgba(0,0,0,.2);
  font-size: 11px;
  padding: 10px;
}


.c-DashMonitor .keyItem {
  display: inline-block;
  margin-right: 10px;
}

.c-DashMonitor .keyBox {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border: 1px solid #888;
  vertical-align: middle;
}

.c-DashMonitor .waiting { background: rgb(173, 173, 173) url(data:image/gif;base64,R0lGODlhBAAEAIAAANLS0paWliH/C05FVFNDQVBFMi4wAwEAAAAh+QQEBQAAACwAAAAABAAEAAACBkwAl2h5BQAh+QQEBQAAACwAAAAABAAEAAACBURiaLBZACH5BAQFAAAALAAAAAAEAAQAAAIGBBKXaHkFACH5BAQFAAAALAAAAAAEAAQAAAIFDGBosVkAOw==); }
.c-DashMonitor .downloading { background: rgb(114, 114, 114) url(data:image/gif;base64,R0lGODlhBAAEAIAAADZn96m++yH/C05FVFNDQVBFMi4wAwEAAAAh+QQEBQAAACwAAAAABAAEAAACBgQSl2h5BQAh+QQEBQAAACwAAAAABAAEAAACBQxgaLFZACH5BAQFAAAALAAAAAAEAAQAAAIGTACXaHkFACH5BAQFAAAALAAAAAAEAAQAAAIFRGJosFkAOw==); }
.c-DashMonitor .downloaded { background: rgb(55, 71, 255); }
.c-DashMonitor .appending { background: rgb(133, 185, 143); }
.c-DashMonitor .appended { background: rgb(0, 189, 36); }
.c-DashMonitor .error { background: rgb(223, 66, 66); }

